<div class="page-wrapper">
  <div class="container-fluid">
    <alphabet-section></alphabet-section>
  </div>
  <div class="container-fluid">
    <!-- /row -->
    <div class="row">
      <div class="col-md-5 col-md-push-1">
        <history-section></history-section>    
      </div>
      <!-- End Col -->

      <div class="col-md-5 col-md-push-1">
        <recent-section></recent-section>
      </div>
        <!-- End Col -->
    </div>
  </div>
  <parallax-section></parallax-section>
  <div class="container-fluid ptop"></div>
</div>