<div class="row bg-title">
    <div class="col-xs-10">
    	<div class="container">
	        <ol class="breadcrumb">
	            <li><a [ngClass]="{'active': '2' == s}" [routerLink]="['/band','2']">A</a></li>
				<li><a [ngClass]="{'active': '3' == s}" [routerLink]="['/band','3']">B</a></li>
				<li><a [ngClass]="{'active': '4' == s}" [routerLink]="['/band','4']">C</a></li>
				<li><a [ngClass]="{'active': '5' == s}" [routerLink]="['/band','5']">D</a></li>
				<li><a [ngClass]="{'active': '6' == s}" [routerLink]="['/band','6']">E</a></li>
				<li><a [ngClass]="{'active': '7' == s}" [routerLink]="['/band','7']">F</a></li>
				<li><a [ngClass]="{'active': '8' == s}" [routerLink]="['/band','8']">G</a></li>
				<li><a [ngClass]="{'active': '9' == s}" [routerLink]="['/band','9']">H</a></li>
				<li><a [ngClass]="{'active': '10' == s}" [routerLink]="['/band','10']">I</a></li>
				<li><a [ngClass]="{'active': '11' == s}" [routerLink]="['/band','11']">J</a></li>
				<li><a [ngClass]="{'active': '12' == s}" [routerLink]="['/band','12']">K</a></li>
				<li><a [ngClass]="{'active': '13' == s}" [routerLink]="['/band','13']">L</a></li>
				<li><a [ngClass]="{'active': '14' == s}" [routerLink]="['/band','14']">M</a></li>
				<li><a [ngClass]="{'active': '15' == s}" [routerLink]="['/band','15']">N</a></li>
				<li><a [ngClass]="{'active': '16' == s}" [routerLink]="['/band','16']">O</a></li>
				<li><a [ngClass]="{'active': '17' == s}" [routerLink]="['/band','17']">P</a></li>
				<li><a [ngClass]="{'active': '18' == s}" [routerLink]="['/band','18']">Q</a></li>
				<li><a [ngClass]="{'active': '19' == s}" [routerLink]="['/band','19']">R</a></li>
				<li><a [ngClass]="{'active': '20' == s}" [routerLink]="['/band','20']">S</a></li>
				<li><a [ngClass]="{'active': '21' == s}" [routerLink]="['/band','21']">T</a></li>
				<li><a [ngClass]="{'active': '22' == s}" [routerLink]="['/band','22']">U</a></li>
				<li><a [ngClass]="{'active': '23' == s}" [routerLink]="['/band','23']">V</a></li>
				<li><a [ngClass]="{'active': '24' == s}" [routerLink]="['/band','24']">W</a></li>
				<li><a [ngClass]="{'active': '25' == s}" [routerLink]="['/band','25']">X</a></li>
				<li><a [ngClass]="{'active': '26' == s}" [routerLink]="['/band','26']">Y</a></li>
				<li><a [ngClass]="{'active': '27' == s}" [routerLink]="['/band','27']">Z</a></li>
	        </ol>
	    </div>
    </div>
</div>


